
.submitted-container[b-8yb9yf7wmk] {
    margin-right: 10px;
}
.submitted-container button[b-8yb9yf7wmk] {
    padding: 8px 12px;
    margin-right: auto;
    border: none;
    border-radius: 15px;
}
.submitted-button[b-8yb9yf7wmk] {
    background-color: green;
    color: white;
}
.msg-container[b-8yb9yf7wmk]{
    margin-bottom: 10px;
    color: red;
}
.modal-body[b-8yb9yf7wmk] {
    padding: 0px;
    margin-top: 20px;
}