.submitted-container[b-9ww936yajf] {
    margin-right: 10px;
}
.submitted-container button[b-9ww936yajf] {
    padding: 8px 12px;
    margin-right: auto;
    border: none;
    border-radius: 15px;
}
.submitted-button[b-9ww936yajf] {
    background-color: green;
    color: white;
}