@page "/Admin"
@attribute [Authorize("MustBeAdmin")]
@using BlazorServer.Shared.Components

<h3>Admin Page</h3>

<section class="d-flex flex-column flex-md-row">
    
        <RegisterUserComponent/>

        <hr/>
    
        <RegisterClassComponent/>

    
</section>

@code {
    
}