@page "/Admin"
@attribute [Authorize("MustBeAdmin")]
@using BlazorServer.Shared.Components

<h3>Admin Page</h3>

<section class="container d-flex flex-column flex-md-row w-100">
        
        <span>
                
        <RegisterUserComponent/>
        </span>
         
    <hr/>
        
    <span class="mt-3 mt-md-0 ms-md-3">
        
        <RegisterClassComponent/>
    </span>
        

        
</section>
 
<section class="d-flex flex-column mt-5">
        
        <a class="btn-link btn btn-outline-primary" href="admin/assign">Assign users to classes</a>
</section>

@code {
    
}