@page "/Lessons/{id}"  
@using BlazorServer.Shared.Components

<h3>LessonDetails</h3>

<section> 
    <h3>Homework</h3>
    <AssignHomeworkComponent LessonId=@Id LessonDate=@DateTime.Now.ToFileTimeUtc()/>
    
</section>


@code {
    [Parameter]
    public string Id { get; set; }
}