@page "/login"
@using HttpClients.ClientInterfaces
@inject IUserService userService
@inject NavigationManager navMgr

<AuthorizeView>
    <NotAuthorized>
        <div class="card">
            <h3>Center Sprog</h3>
            <div class="field">
                <label>Username:</label>
                <input type="text" @bind="Username"/>
            </div>
            <div class="field">
                <label style="text-align: center">Password:</label>
                <input type="password" @bind="Password"/>
            </div>
            <div class="field">
                <button class="loginbtn" @onclick="LoginAsync">Log In</button>
            </div>
            @if (Msg != null)
            {
                <div class="alert-danger alert mt-5">
                    @Msg
                </div>
            }
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Hello, @context.User.Identity.Name</h3>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    public string Username;
    public string Password;
    public string? Msg;

    private async Task LoginAsync()
    {
        Msg = null;
        try
        {
            await userService.LoginAsync(Username, Password);
            navMgr.NavigateTo("/my-classes");
        }
        catch (Exception e)
        {
            Msg = e.Message;
        }
    }

}