@page "/login"
@using HttpClients.ClientInterfaces
@inject IUserService userService
@inject NavigationManager navMgr

<AuthorizeView>
    <NotAuthorized>
        <div class="card">
            <h3>Please login</h3>
            <div class="field">
                <label>User name:</label>
                <input type="text" @bind="Username"/>
            </div>
            <div class="field">
                <label style="text-align: center">Password:</label>
                <input type="password" @bind="Password"/>
            </div>
            @if (!string.IsNullOrEmpty(Msg))
            {
                <div class="field">
                    <label style="color: red">
                        @Msg
                    </label>
                </div>
            }
            <div class="field">
                <button class="loginbtn" @onclick="LoginAsync">Log in</button>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Hello, @context.User.Identity.Name</h3>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    public string Username;
    public string Password;
    public string Msg;
    
    private async Task LoginAsync()
    {
        Msg = "";
        try
        {
            await userService.LoginAsync(Username, Password);
            navMgr.NavigateTo("/my-classes");
        }
        catch (Exception e)
        {
            Msg = e.Message;
        }
    }
}