h1[b-lnhfxm1mn0], h2[b-lnhfxm1mn0], h3[b-lnhfxm1mn0], h4[b-lnhfxm1mn0], h5[b-lnhfxm1mn0], h6[b-lnhfxm1mn0]{
    font-weight: bold;
}

.homework-container[b-lnhfxm1mn0] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px;
    width: 100%;
}
.homework-card[b-lnhfxm1mn0] {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    /*height: 300px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*justify-content: space-between; */

}
.homework-header[b-lnhfxm1mn0] {
    display: flex;
    align-items: center;
}
.homework-header-content[b-lnhfxm1mn0] {
    display: flex;
    flex-direction: column;
}

.homework-header img[b-lnhfxm1mn0] {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.homework-no-content[b-lnhfxm1mn0] {
    height: 100px;
    margin-bottom: 20px;
    position: relative;
}

p[b-lnhfxm1mn0] {
    margin-top: 20px;
}
.msg-container[b-lnhfxm1mn0]{
    margin-bottom: 10px;
    color: red;
}
.buttons-container[b-lnhfxm1mn0] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button[b-lnhfxm1mn0] {
    border: none;
    border-radius: 15px;
}


.modal-container[b-lnhfxm1mn0] {
    position: relative;
}

.close-button[b-lnhfxm1mn0] {
    position: absolute;
    right: 10px;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
    color: grey;
}
.modal-header[b-lnhfxm1mn0] {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px;
    border: none;
}

.modal-body p[b-lnhfxm1mn0] {
    margin-top: 0px;
}

