@using Domain.DTOs.HomeworkDTO
@using HttpClients.ClientInterfaces
@inject IHomeworkService HomeworkService 



<div class="d-flex flex-column w-50 bg-warning">
    <h3 class="text-sm-center">AssignHomeworkComponent</h3>
        
    <h5 class="text-sm-center">If you are a teacher add here for @LessonId</h5>
    <div class="d-flex flex-column">
        <label for="title">Title</label>
        <input id="title" type="text" @bind="Dto.Title"/>
    </div>
    <div class="d-flex flex-column">
        <label for="description">Description</label>
        <input id="description" type="text" @bind="Dto.Description"/>
    </div>
    <div class="d-flex flex-column">
        <label for="deadline">Deadline</label>
        <input id="deadline" type="date" @bind="Date"/>
    </div>
    <button class="d-flex w-auto" type="submit" @onclick="AddHomework">Add homework</button>
</div>

@if (Msg is not null)
{
    <div>
        @Msg
    </div>
}


@code {
    [Parameter]
    public string LessonId { get; set; }
    [Parameter]
    public long LessonDate { get; set; }
    
    public string Msg { get; set; }
    public HomeworkCreationDTO Dto { get; set; }
    public DateTime Date { get; set; }
    
    protected override void OnInitialized()
    {
        Dto = new HomeworkCreationDTO(LessonId);
        Date = DateTime.Now;
        base.OnInitialized();
    }


    public async Task AddHomework()
    {
        try
        {
            Dto.Deadline = Date.ToFileTimeUtc();
            ValidateHomework();
            await HomeworkService.CreateAsync(Dto);
            Msg = "Assigned homework successfully!";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            Msg = e.Message;
        }
    }

    private void ValidateHomework()
    {
        if (Dto.Title == "")
            throw new Exception("Title is required");
        if(Dto.Description == "")
            throw new Exception("Description is required");
        if (Dto.Deadline < LessonDate)
            throw new Exception("The deadline of the homework cannot be before the lesson's date");
    }
}