@inject NavigationManager navMgr

        <div class="w-100 flex-column p-5 bg-light border border-danger border-1 postcard" @onclick="RedirectToPostDetails">
            <h2 class="fst-italic">Lesson Overview</h2>
        </div>
@code {
    private void RedirectToPostDetails()
    {
        navMgr.NavigateTo($"/Lessons/52358eff-87c8-4a9a-ab21-de8fc91096d8");
    }
}