@inject NavigationManager navMgr

        <div class="w-100 flex-column p-5 bg-light border border-danger border-1 postcard" @onclick="RedirectToPostDetails">
            <h2 class="fst-italic">Lesson Overview</h2>
        </div>
@code {
    [Parameter]
    public string ClassId { get; set; }
    [Parameter]
    public string LessonId { get; set; }
    private void RedirectToPostDetails()
    {
        navMgr.NavigateTo($"{ClassId}/Lessons/{LessonId}");
    }
}