h1[b-sjlqnu15x3], h2[b-sjlqnu15x3], h3[b-sjlqnu15x3], h4[b-sjlqnu15x3], h5[b-sjlqnu15x3], h6[b-sjlqnu15x3]{
    font-weight: bold;
}

.lesson-container[b-sjlqnu15x3] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px;
    width: 100%;
}

.lesson-card[b-sjlqnu15x3] {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.lesson-header[b-sjlqnu15x3] {
    display: flex;
    align-items: center;
}

.lesson-header img[b-sjlqnu15x3] {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.homework-header img[b-sjlqnu15x3] {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.lesson-description h4[b-sjlqnu15x3] {
    font-weight: normal;
}
.lesson-header-content[b-sjlqnu15x3] {
    display: flex;
    flex-direction: column;
}

p[b-sjlqnu15x3] {
    margin-top: 20px;
}
